* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 6vh;
  background-color: #353535;
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-nav .branding {
  width: 20%;
  background-color: #6e00ff;
  color: rgba(255, 255, 255, 0.8);
}

header .header-nav .filter {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
}

header .header-nav .filter .fa-search {
  margin-left: 2rem;
  font-size: large;
  color: #f3ecec;
}

header .header-nav .filter #search {
  background-color: #353535;
  padding: .4rem;
  border: none;
  margin-left: .2rem;
  font-size: 1rem;
  color: #f3ecec;
}

header .header-nav .filter #search:focus, header .header-nav .filter #search:active {
  border: none;
  outline: none;
}

header .header-nav .filter ::-webkit-input-placeholder {
  color: #f3ecec;
  opacity: 0.6;
}

header .header-nav .filter :-ms-input-placeholder {
  color: #f3ecec;
  opacity: 0.6;
}

header .header-nav .filter ::-ms-input-placeholder {
  color: #f3ecec;
  opacity: 0.6;
}

header .header-nav .filter ::placeholder {
  color: #f3ecec;
  opacity: 0.6;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container .genre-nav {
  height: 100vh;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-container .genre-nav .genres {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .genre-nav .genres .genre-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  white-space: nowrap;
}

.main-container .genre-nav .genres .genre-list .genre {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  color: black;
  -webkit-transition: ease-in .1s;
  transition: ease-in .1s;
  padding: .1rem 0;
}

.main-container .genre-nav .genres .genre-list .genre:hover {
  font-weight: 900;
  color: #6e00ff;
}

.main-container .genre-nav .genres .genre-list .selected-genre {
  font-size: 1.6rem;
  color: #6e00ff;
}

.main-container .genre-nav .genres .github {
  font-size: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main-container .genre-nav .genres .github:hover, .main-container .genre-nav .genres .github:active {
  font-size: 3rem;
}

.main-container .posters-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  margin: 2rem 2rem 0 0;
}

.main-container .posters-main .poster {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  max-width: 130px;
  margin: 0 1.5rem 2rem 1.5rem;
}

.main-container .posters-main .poster img {
  max-width: 130px;
}

.main-container .posters-main .poster .film-title {
  overflow: hidden;
  font-size: 1rem;
}

.main-container .posters-main .poster .film-year {
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.8);
}

.poster-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.poster-modal .close {
  font-size: 4rem;
  color: whitesmoke;
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}

.poster-modal .modal-image {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */